In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import os
print(os.listdir("../input"))

['database.csv']

In [2]:
data = pd.read_csv("../input/database.csv")
data.head()

         Date      Time    ...      Magnitude Source     Status
0  01/02/1965  13:44:18    ...                ISCGEM  Automatic
1  01/04/1965  11:29:49    ...                ISCGEM  Automatic
2  01/05/1965  18:05:58    ...                ISCGEM  Automatic
3  01/08/1965  18:49:43    ...                ISCGEM  Automatic
4  01/09/1965  13:32:50    ...                ISCGEM  Automatic

[5 rows x 21 columns]

In [3]:
data.columns

Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Depth Error',
       'Depth Seismic Stations', 'Magnitude', 'Magnitude Type',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID',
       'Source', 'Location Source', 'Magnitude Source', 'Status'],
      dtype='object')

In [4]:
data = data[['Date', 'Time', 'Latitude', 'Longitude', 'Depth', 'Magnitude']]
data.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8

In [5]:
import datetime
import time

timestamp = []
for d, t in zip(data['Date'], data['Time']):
    try:
        ts = datetime.datetime.strptime(d+' '+t, '%m/%d/%Y %H:%M:%S')
        timestamp.append(time.mktime(ts.timetuple()))
    except ValueError:
        # print('ValueError')
        timestamp.append('ValueError')

In [6]:
timeStamp = pd.Series(timestamp)
data['Timestamp'] = timeStamp.values

In [7]:
final_data = data.drop(['Date', 'Time'], axis=1)
final_data = final_data[final_data.Timestamp != 'ValueError']
final_data.head()

   Latitude  Longitude  Depth  Magnitude    Timestamp
0    19.246    145.616  131.6        6.0 -1.57631e+08
1     1.863    127.352   80.0        5.8 -1.57466e+08
2   -20.579   -173.972   20.0        6.2 -1.57356e+08
3   -59.076    -23.557   15.0        5.8 -1.57094e+08
4    11.938    126.427   15.0        5.8 -1.57026e+08